Gist.vim
ReplaceWithRegister
YouCompleteMe
desert256.vim
django.vim
django-plus.vim
promptline.vim
syntastic
tcomment_vim
tmuxline.vim
ultisnips
vim-airline
vim-airline-themes
vim-colors-solarized
vim-fugitive
vim-git
vim-hashicorp-tools
vim-markdown
vim-puppet
vim-rails
vim-snippets
vim-sort-motion
vim-tmux-navigator
